/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro&display=swap');

/*  css variables */
:root {
  --bg-01: rgba(202, 231, 223, 0.4);
  --bg-02: rgb(221, 236, 232);
  --card-bg-01: #efeae7;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --card-bg-05: rgba(254, 231, 56, 0.775);
  --primary-color: #0e0e20;
  --hero-bg: #fee638;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
  --blue-01: rgba(40, 100, 230, 0.915);
  --blue-02: rgba(12, 68, 189, 0.755);
  --blue-03: rgba(14, 62, 164, 0.915);
  --green-01: rgba(75, 209, 75, 0.892);
  --green-02: rgba(49, 142, 49, 0.892);
  --correct: rgba(22, 202, 22, 0.84);
  --red-01: rgba(227, 72, 72, 0.873);
  --red-02: rgba(163, 40, 40, 0.873);
}

*::-webkit-scrollbar {
  display: none;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--small-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--primary-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

section {
  padding: 60px 0px;
}

.section_title {
  color: var(--primary-color);
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 0px;
  }
}
